<div class="col-md-12">
	<h3>
		<img class="img-rounded" width="220" height="165" src="img/dogs1.PNG">
		<img class="img-rounded" width="220" height="165" src="img/dogs2.PNG">
		<img class="img-rounded" width="220" height="165" src="img/dogs4.PNG">
	</h3>
	<div class="col-md-8">
		<h3>Interesting facts</h3>
		<ol>
			<li>If a guy has a dog with him, he’s three times more likely to get a girl’s phone number.</li>
			<li>Dogs’ sense 	of smell is 10,000 times stronger than humans’.</li>
			<li>The Norwegian Lundehund is the only dog that has six toes on each foot!</li>
			<li>A dog named Duke is the mayor of Cormorant, Minnesota.</li>
			<li>Labradors are the most popular breed in the United States.</li>
			<li>You can lower your blood pressure just by petting your pup!</li>
			<li>The reason dogs curl up is because of an age-old instinct to keep themselves warm and to protect vital organs while they sleep.</li>
			<li>Anything smelly your dog rolls in only smells gross to you—to them it’s DIVINE.</li>
			<li>Dogs have wet noses because it helps to absorb scent chemicals.</li>
			<li>If you leave your dog a piece of clothing that smells like you, the scent will comfort them and it can help curb their separation anxiety.</li>
			<li>The basenji is the only breed of dog that can’t bark, but they can yodel!</li>
			<li>When dogs poop, they prefer to do it in alignment with the Earth’s magnetic field.</li>
			<li>Bloodhounds are able to trace scents that are over 300 hours old.</li>
			<li>Dogs don’t ONLY see in black and white — they can also see blue and yellow!(Dogs are Ukrainians!)</li>
		</ol>
	</div>
	<div class="col-md-4">
		<h3>Types</h3>
		<ul>
			<li>Doberman Pinscher</li>
			<li>Labrador</li>
			<li>Rottweiler</li>
			<li>German Shepherd</li>
			<li>Chow Chow</li>
			<li>French Bulldog</li>
		</ul>
	</div>
</div>
